extends dashb_layout

block dashb
    script(src='/js/chat.js')

    //.content-card
    .content-card
        .chat-wrapper 
            .chat-header
                .chat-header-btn
                    a(href='/dashboard')
                        span(uk-icon='icon: home; ratio: 0.8' title='Dashboard')
                .chat-header-content
                    | #{msg_data.groupname}
            .chat-content#chatContainer
                for item, i in msg_data.groupchat
                    
                    //-group based on tags
                    //-tag=text
                    if item.tag == "text"
                        //-organized based on owner and other email
                        if item.from ==  gdata.uemail
                            .chat-row
                                .chat-me(title=item.from)
                                    .chat-msg
                                        | #{item.msg}
                                    .chat-img
                        
                        else
                            .chat-row
                                .chat-other(title=item.from)
                                    .chat-img
                                    .chat-msg
                                        | #{item.msg}

                    //-tag=weather
                    if item.tag == "weather"
                        //-get weather data
                        .chat-row
                            .chat-api-info.weather-color
                                .chat-api-header
                                    | #{item.msg.city}
                                .chat-api-content
                                    | Temperature #{item.msg.temp} &#8457;
                                .chat-api-content
                                    b #{item.msg.w} | #{item.msg.wdesc}

                    //-tag=note
                    if item.tag == "note"
                        .chat-row
                            .chat-api-info.notes-color
                                | #{item.msg.note}

            form#chatroom()
                .chat-footer
                    .chat-footer-3w
                        input#chat_data.chat-input(type='hidden', name='chat_data', value=gdata)
                        input.chat-input#chat_msg(type='text' autofocus placeholder='>' autocomplete='off')
                    .chat-footer-w
                        button.chat-btns(type='submit') 
                            span(uk-icon='icon: commenting')
                            
                //.chat-footer-w
                    //- .chat-btns
                    //-     span(uk-icon='icon: image' onclick='imageUploadForm();')
                    //-.chat-btns
                       //- span(uk-icon='icon: commenting' onclick='chatSubmitForm();')